@import "../../../variables";

hr{
  display: block;
  width: $footer-hr-width;
  border-color: $footer-hr-border-color;

  &.left{
    margin-left: $footer-hr-left-margin-left;
    margin-right: $footer-hr-left-margin-right;
  }

  &.right{
    margin-right: $footer-hr-right-margin-right;
    margin-left: $footer-hr-right-margin-left;
  }
}

p{
  margin: $footer-p-margin;
}

.footer-signature{
  padding: $footer-footer-signature-padding;
  width: $footer-footer-signature-width;
  color: $footer-footer-signature-color;
  bottom: 0;
}
