<nav class="navbar fixed-top navbar-expand-md nav-bar flex-column ">

  <!--TO DO: change nav collapse button-->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-tagret="#navbarContent" aria-controls="navbarContent"
            aria-expanded="false" aria-label="Toggler navigation bar content" (click)="toggleNavbar()">
      <fa-icon [icon]="['fas', 'bars']" size="'2x'"></fa-icon>
    </button>

    <div class="collapse navbar-collapse justify-content-between nav-row" id="navbarContent" [ngClass]="{ 'show': navbarOpen }">

      <div class="d-inline-flex">

        <app-button
          classes="button-shop"
          [iconNameArray]="['fas', 'th']"
          [iconSize]="'2x'"
        ></app-button>

        <app-button
          classes="button-shop"
          [iconNameArray]="['fas', 'th-list']"
          [iconSize]="'2x'"
        ></app-button>

        <app-button
          classes="button-shop"
          [iconNameArray]="['fas', 'map-marked-alt']"
          [iconSize]="'2x'"
        ></app-button>

      </div>

      <app-button
        classes="button-shop"
        (click)="show(createAdvert)"
        [iconNameArray]="['fas', 'plus']"
        [iconSize]="'2x'"
      ></app-button>

      <div class="d-inline-flex">

        <app-input
          placeholder="Wyszukaj przedmiot . . ."
          [type]="'input'"
          classes="input-shop input-wider form-control"
        ></app-input>

        <app-select
          classes="select-shop select-nav"
          [options]="[
              {text: 'Wybierz kategorię'},
              {text: 'Elektronika', value: 'electronics'},
              {text: 'Sztuka i zbiory', value: 'art'},
              {text: 'Zwierzęta', value: 'animals'},
              {text: 'Dom i ogród', value: 'home'},
              {text: 'Moda', value: 'fashion'},
              {text: 'Dzieci', value: 'children'},
              {text: 'Zdrowie i uroda', value: 'health'},
              {text: 'Kultura i rozrywka', value: 'culture'},
              {text: 'Sport i hobby', value: 'sport'},
              {text: 'Mtoryzacja', value: 'moto'}]"
        ></app-select>

        <app-button
          classes="button-shop"
          [iconNameArray]="['fas', 'search']"
          [iconSize]="'2x'"
        ></app-button>

      </div>

      <app-button
        classes="button-shop"
        (click)="isCollapsed = !isCollapsed"
        [iconNameArray]="['fas', 'filter']"
        [iconSize]="'2x'"
      ></app-button>

      <div class="d-inline-flex">

        <app-button
          classes="button-shop"
          [iconNameArray]="['far', 'star']"
          [iconSize]="'2x'"
        ></app-button>

        <app-button
          classes="button-shop"
          (click)="open(login)"
          [iconNameArray]="['fas', 'user']"
          [iconSize]="'2x'"
        ></app-button>

        <app-button
          classes="button-shop"
          [iconNameArray]="['fas', 'sign-out-alt']"
          [iconSize]="'2x'"
        ></app-button>

      </div>

    </div>

  <div class="nav-row" id="filter" [ngbCollapse]="isCollapsed">
    <hr>
    <app-filter></app-filter>
  </div>

</nav>

<ng-template #login let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Logowanie:</h4>
    <app-button
      classes="button-close-modal"
      (click)="modal.dismiss('Cross click')"
      [iconNameArray]="['fas', 'times']"
    ></app-button>
  </div>
  <div class="modal-body">
    <app-login></app-login>
  </div>
</ng-template>

<ng-template #createAdvert let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Dodaj nowe ogłoszenie:</h4>
    <app-button
      classes="button-close-modal"
      (click)="modal.dismiss('Cross click')"
      [iconNameArray]="['fas', 'times']"
    ></app-button>
  </div>
  <div class="modal-body">
    <app-create-advert></app-create-advert>
  </div>
</ng-template>
