<nav class="navbar fixed-top navbar-expand-md nav-bar flex-column ">

  <!--TODO: change nav collapse button-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-tagret="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggler navigation bar content" (click)="toggleNavbar()">
    <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
  </button>

  <div class="collapse navbar-collapse justify-content-between nav-row" id="navbarContent"
       [ngClass]="{ 'show': isNavbarOpen }">

    <div class="d-inline-flex">

      <button
        class="button-shop"
        type="button"
        (click)="appService.filterReset()">
        <fa-icon [icon]="['fas', 'th']" size="2x"></fa-icon>
      </button>

      <button
        class="button-shop"
        type="button">
        <fa-icon [icon]="['fas', 'th-list']" size="2x"></fa-icon>
      </button>

      <!--        TODO: Implement Map-->
      <!--        <button-->
      <!--          class="button-shop"-->
      <!--          type="button">-->
      <!--          <fa-icon [icon]="['fas', 'map-marked-alt']" size="2x"></fa-icon>-->
      <!--        </button>-->

    </div>

    <button
      *ngIf="getLoggedUser()"
      class="button-shop"
      (click)="show(createAdvert)"
      type="button">
      <fa-icon [icon]="['fas', 'plus']" size="2x"></fa-icon>
    </button>

    <form class="d-inline-flex">

      <input
        placeholder="Wyszukaj przedmiot . . ."
        type="search"
        class="input-shop input-wider form-control"
        name="search"
        [(ngModel)]="appService.filter.search">

      <select
        class="custom-select select-shop select-nav select-narrow"
        [(ngModel)]="appService.filter.category"
        name="category">
        <option *ngFor="let category of categories" [value]="category.value">{{category.text}}</option>
      </select>

      <button
        class="button-shop"
        type="submit"
        (click)="appService.filterAdverts()">
        <fa-icon [icon]="['fas', 'search']" size="2x"></fa-icon>
      </button>

      </form>

    <div class="d-inline-flex">
      <button
        class="button-shop"
        (click)="isCollapsed = !isCollapsed"
        type="button">
        <fa-icon [icon]="['fas', 'filter']" size="2x"></fa-icon>
      </button>

      <button
        class="button-shop"
        (click)="appService.filterReset()"
        type="button">
        <fa-icon [icon]="['far', 'times-circle']" size="2x"></fa-icon>
      </button>
    </div>

    <div class="d-inline-flex">

      <button
        *ngIf="getLoggedUser()"
        class="button-shop"
        type="button"
        (click)="show(favourite)">
        <fa-icon [icon]="['fas', 'star']" size="2x"></fa-icon>
      </button>

      <button
        *ngIf="!getLoggedUser()"
        class="button-shop"
        (click)="open(login)"
        type="button">
        <fa-icon [icon]="['fas', 'users']" size="2x"></fa-icon>
      </button>

      <button
        *ngIf="getLoggedUser()"
        class="btn btn-outline-warning disabled d-inline-flex"
        type="button">
          <fa-icon [icon]="['fas', 'user']" size="2x"></fa-icon>
          <span class="loggedUser">{{appService.loggedUserName}}</span>
        </button>

        <button
          *ngIf="getLoggedUser()"
          class="button-shop"
          (click)="signOut()"
          type="button">
          <fa-icon [icon]="['fas', 'sign-out-alt']" size="2x"></fa-icon>
        </button>

      </div>

    </div>

  <div class="nav-row" id="filter" [ngbCollapse]="isCollapsed">
    <hr>
    <app-filter></app-filter>
  </div>

</nav>

<ng-template #login let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{loginTitle}}</h4>
    <button
      class="button-close-modal"
      (click)="modal.dismiss('Cross click')"
      type="button">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-login></app-login>
  </div>
</ng-template>

<ng-template #createAdvert let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{createAdvertTitle}}</h4>
    <button
      class="button-close-modal"
      (click)="modal.dismiss('Cross click')"
      type="button">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-create-advert></app-create-advert>
  </div>
</ng-template>

<ng-template #favourite let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{favouriteTitle}}</h4>
    <button
      class="button-close-modal"
      (click)="modal.dismiss('Cross click')"
      type="button">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-favourite></app-favourite>
  </div>
</ng-template>
