<nav class="navbar sticky-top navbar-expand-md nav-spacing">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-tagret="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggler navigation bar content">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarContent">

    <div class="d-inline-flex">

      <app-button
        [classes]="'button-shop'"
        [iconNameArray]="['fas', 'th']"
        iconSize="2x">
      </app-button>

      <app-button
        [classes]="'button-shop'"
        [iconNameArray]="['fas', 'th-list']"
        iconSize="2x">
      </app-button>

      <app-button
        [classes]="'button-shop'"
        [iconNameArray]="['fas', 'map-marked-alt']"
        iconSize="2x"
      ></app-button>

    </div>

    <app-button
      [classes]="'button-shop'"
      [iconNameArray]="['fas', 'plus']"
      iconSize="2x"
    ></app-button>

    <div class="d-inline-flex">

        <app-input
          [placeholder]="'Wyszukaj przedmiot . . .'"
          [type]="'input-shop'"
          [classes]="'input-shop lg'"
        ></app-input>

        <app-select
          [classes]="'select-shop'"
          [options]="[
            {text: 'Kategorie'},
            {text: 'Elektronika', value: 'electronics'},
            {text: 'Antyki i sztuka', value: 'art'},
            {text: 'Zwierzęta', value: 'animals'}]"
        ></app-select>

          <app-button
            [classes]="'button-shop'"
            [iconNameArray]="['fas', 'search']"
            iconSize="2x"
          ></app-button>

    </div>

    <app-button
      [classes]="'button-shop'"
      [iconNameArray]="['fas', 'filter']"
      iconSize="2x"
    ></app-button>

    <div class="d-inline-flex">

      <app-button
        [classes]="'button-shop'"
        [iconNameArray]="['fas', 'star']"
        iconSize="2x"
      ></app-button>

      <app-button
        [classes]="'button-shop'"
        [iconNameArray]="['fas', 'sign-in-alt']"
        iconSize="2x"
      ></app-button>

      <app-button
        [classes]="'button-shop'"
        [iconNameArray]="['fas', 'sign-out-alt']"
        iconSize="2x"
      ></app-button>

    </div>

  </div>

</nav>
