@import "../../../variables";

.adverts-container{
  width: $adverts-adverts-container-width;
}

.advert-card{
  width: $adverts-adverts-card-width;
  margin: $adverts-adverts-card-margin;
  border-color: $adverts-card-header-border-color;
}

.card-header{
  border-color: $adverts-card-header-border-color;
}

li{
  border-color: $adverts-li-border-color;
}

p {
  margin: $adverts-p-margin;
}

img {
  height: 30vh;
}
