<div class="advrets-container d-flex flex-wrap ">
  <div class="card" *ngFor="let advert of getFilteredAdverts(), index as idx">
    <img class="card-img-top" src="{{advert.picture}}." alt="Card image cap">
    <div class="card-header d-inline-flex justify-content-between">
      <h5 class="card-title">{{advert.title}}</h5>
      <button
        class="button-shop"
        (click)="open(advertDetails)"
        type="button">
        {{details}}
      </button>
    </div>
    <ng-template #advertDetails let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{advert.title}}</h4>
        <button
          class="button-close-modal"
          (click)="modal.dismiss('Cross click')"
          type="button">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
      </div>
      <div class="modal-body">
        <app-advert-details
          [index]="idx"
        ></app-advert-details>
      </div>
    </ng-template>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-inline-flex justify-content-between">
        <p>{{advert.category}}</p>
        <p>{{advert.state}}</p>
      </li>
      <li class="list-group-item d-inline-flex justify-content-between">
        <p>{{advert.city}}</p>
        <p>{{advert.price}}zł</p>
      </li>
    </ul>
  </div>
</div>


