<div class="adverts-container d-flex flex-wrap ">

  <div class="d-flex justify-content-around no-adverts" *ngIf="allAdverts.length === 0">
    <p>{{noAdverts}}</p>
  </div>

  <div class="card advert-cd" *ngFor="let advert of allAdverts, index as idx">
    <img class="card-img-top" src="{{advert.picture}}" alt="Card image cap">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{advert.title}}</h5>
        <button
          *ngIf="appService.user && !appService.isFavourite(advert.tradeAdvertId)"
          class="button-shop"
          (click)="appService.addToFavourites(advert.tradeAdvertId)"
          type="button">
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
        </button>
        <button
          *ngIf="appService.user && appService.isFavourite(advert.tradeAdvertId)"
          class="button-shop"
          (click)="appService.removeFavourites(advert.tradeAdvertId)"
          type="button">
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
        </button>
      </div>
    </div>
    <ng-template #advertDetails let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{advert.title}}</h4>
        <button
          class="button-close-modal"
          (click)="modal.dismiss('Cross click')"
          type="button">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
      </div>
      <div class="modal-body">
        <app-advert-details
          [advert]="advert"
        ></app-advert-details>
      </div>
    </ng-template>

    <ul class="list-group list-group-flush">
      <li class="list-group-item d-inline-flex justify-content-between">
        <p style="align-self: center">{{advert.price}} zł</p>
        <button
          class="button-shop"
          (click)="open(advertDetails)"
          type="button">
          {{details}}
        </button>
      </li>
      <li class="list-group-item d-inline-flex justify-content-between">
        <p>{{advert.city}}</p>
        <p>{{advert.state}}</p>
      </li>
    </ul>
  </div>
</div>


