@import "../../../variables";

.sign-up-form {
  display: flex;
  padding: $login-sign-up-form-padding;
}

label {
  padding: $login-sign-up-label-padding;
  margin: $login-sign-up-label-margin;
  width: $login-sign-up-label-width;
}

.form-control {
  width: $login-sign-up-form-control-width-fix;
}

