<form class="sign-up-form d-flex flex-column" (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="form-group d-inline-flex justify-content-between">
    <label for="input-login">{{loginText}}</label>
    <div class="input-container">
      <input
        placeholder=""
        class="form-control"
        id="input-login"
        type="text"
        name="login"
        ngModel
        required
        pattern="{{loginValidation}}"
        #login="ngModel">
      <span class="invalid-message" *ngIf="!login.valid && login.touched">{{invalidLogin}}</span>
    </div>
  </div>

  <div class="form-group d-inline-flex justify-content-between">
    <label for="input-password">{{passwordText}}</label>
    <div class="input-container">
      <input
        placeholder=""
        class="form-control"
        id="input-password"
        type="password"
        name="password"
        ngModel
        required
        pattern="{{passwordValidation}}"
        #password="ngModel">
      <span class="invalid-message" *ngIf="!password.valid && password.touched">{{invalidPassword}}</span>
    </div>
  </div>

  <div class="form-group d-inline-flex justify-content-between">
    <label for="input-mail">{{emailText}}:</label>
    <div class="input-container">
      <input
        placeholder=""
        class="form-control"
        id="input-mail"
        type="email"
        name="email"
        ngModel
        required
        email
        #email="ngModel">
      <span class="invalid-message" *ngIf="!email.valid && email.touched">{{invalidEmail}}</span>
    </div>
  </div>

  <div class="form-group d-inline-flex justify-content-between">
    <label for="input-username">{{usernameText}}</label>
    <div class="input-container">
      <input
        placeholder=""
        class="form-control"
        id="input-username"
        type="text"
        name="userName"
        ngModel
        pattern="{{onlyLetters}}"
        required
        #userName="ngModel">
      <span class="invalid-message" *ngIf="!userName.valid && userName.touched">{{invalidUserName}}</span>
    </div>
  </div>

  <div class="form-group d-inline-flex justify-content-between">
    <label for="input-city">{{cityText}}</label>
    <div class="input-container">
      <input
        placeholder=""
        class="form-control"
        id="input-city"
        type="text"
        name="city"
        ngModel
        required
        #city="ngModel">
      <span class="invalid-message" *ngIf="!city.valid && city.touched">{{invalidCity}}</span>
    </div>
  </div>

  <div class="form-group d-inline-flex justify-content-between">
    <label for="input-telNumber">{{telNumberText}}</label>
    <div class="input-container">
      <input
        placeholder=""
        class="form-control"
        id="input-telNumber"
        type="tel"
        name="telNumber"
        ngModel
        pattern="{{phoneNumber}}"
        required
        #telNumber="ngModel">
      <span class="invalid-message" *ngIf="!telNumber.valid && telNumber.touched">{{invalidTelNumber}}</span>
    </div>
  </div>

  <div class=" d-flex justify-content-between">
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="open(logIn)">
      <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
      {{goToLogIn}}
    </button>

    <button
      class="btn btn-outline-success"
      type="submit"
      [disabled]="!f.valid">
      <fa-icon [icon]="['fas', 'user-check']"></fa-icon>
      {{signUpButton}}
    </button>
  </div>

</form>

<ng-template #logIn let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{loginTitle}}</h4>
    <button
      class="button-close-modal"
      (click)="modal.dismiss('Cross click')"
      type="button">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-login></app-login>
  </div>
</ng-template>
