<div class="d-inline-flex justify-content-between panel-categories">

  <app-button
    [classes]="'button-category button-red'"
    [iconNameArray]="['fas', 'laptop']"
    [text]="'Elektonika'"
  ></app-button>

  <app-button
    [classes]="'button-category button-orange'"
    [iconNameArray]="['far', 'images']"
    [text]="'Sztuka i zbiory'"
  ></app-button>

  <app-button
    [classes]="'button-category button-yellow'"
    [iconNameArray]="['fas', 'paw']"
    [text]="'Zwierzęta'"
  ></app-button>

  <app-button
    [classes]="'button-category button-green-light'"
    [iconNameArray]="['fas', 'home']"
    [text]="'Dom i ogród'"
  ></app-button>

  <app-button
    [classes]="'button-category button-green'"
    [iconNameArray]="['fas', 'tshirt']"
    [text]="'Moda'"
  ></app-button>

  <app-button
    [classes]="'button-category button-blue-light'"
    [iconNameArray]="['fas', 'child']"
    [text]="'Dzieci'"
  ></app-button>

  <app-button
    [classes]="'button-category button-blue'"
    [iconNameArray]="['fas', 'spa']"
    [text]="'Zdrowie i uroda'"
  ></app-button>

  <app-button
    [classes]="'button-category button-violet'"
    [iconNameArray]="['fas', 'gamepad']"
    [text]="'Kultura i rozrywka'"
  ></app-button>

  <app-button
    [classes]="'button-category button-purple'"
    [iconNameArray]="['fas', 'volleyball-ball']"
    [text]="'Sport i hobby'"
  ></app-button>

  <app-button
    [classes]="'button-category button-magenta'"
    [iconNameArray]="['fas', 'car']"
    [text]="'Motoryzacja'"
  ></app-button>

</div>
