<div class="d-inline-flex justify-content-between panel-categories">

  <app-button
    [classes]="'button-category-red'"
    [iconNameArray]="['fas', 'laptop']"
    [text]="'Elektonika'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-orange'"
    [iconNameArray]="['far', 'images']"
    [text]="'Sztuka i zbiory'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-yellow'"
    [iconNameArray]="['fas', 'paw']"
    [text]="'Zwierzęta'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-green-light'"
    [iconNameArray]="['fas', 'home']"
    [text]="'Dom i ogród'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-green'"
    [iconNameArray]="['fas', 'tshirt']"
    [text]="'Moda'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-blue-light'"
    [iconNameArray]="['fas', 'child']"
    [text]="'Dzieci'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-blue'"
    [iconNameArray]="['fas', 'spa']"
    [text]="'Zdrowie i uroda'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-violet'"
    [iconNameArray]="['fas', 'gamepad']"
    [text]="'Kultura i rozrywka'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-purple'"
    [iconNameArray]="['fas', 'volleyball-ball']"
    [text]="'Sport i hobby'"
    [type]="'button'"
  ></app-button>

  <app-button
    [classes]="'button-category-magenta'"
    [iconNameArray]="['fas', 'car']"
    [text]="'Motoryzacja'"
    [type]="'button'"
  ></app-button>

</div>
