@import "../../../variables";

.input-shop{
  border-color: $input-input-shop-border-color;


  &:focus{
    box-shadow: $but-inp-sel-hover-box-shadow;
    transition: color $but-inp-sel-hover-transition, box-shadow $but-inp-sel-hover-transition;
  }
}

.input-wider{
  width: $input-input-wider-width;
  margin: $input-input-wider-margin;
}

.input-narrow{
  width: $input-input-narrow-width;
}

.input-checkbox{
  outline: $yellow !important;
}

.input-wide{
  width: $input-input-range-width;
}
