@import "../../../variables";

.select{
  margin: $select-select-margin;
}

.select-shop{
  border-color: $select-select-shop-border-color;

  &:focus{
    box-shadow: $but-inp-sel-hover-box-shadow;
    transition: color $but-inp-sel-hover-transition, box-shadow $but-inp-sel-hover-transition;
  }
}

option:first-child{
  display: none;
}
