@import "../variables";

section{
  padding: $app-content-section-padding;
  background: $app-content-section-bg;
}

.content{
  padding: $app-content-content-padding;
  background: $app-content-content-bg;
}

.img{
  margin: $app-content-img-margin;
  padding: $app-content-img-padding;
  background: $app-content-img-bg;
  border-radius: $app-content-img-border-radius;
}
