@import "../../../variables";

  %button {
    cursor: pointer;
    background: $button-button-bg;
    border-radius: $button-button-border-radius;

    &:focus {
      outline: none;
    }
  }

  //TO DO: create button-close-modal and button-shop with mixin include

  .button-close-modal{
    @extend %button;

    color: $button-button-close-modal-color;
    border: $button-button-close-modal-border;
    margin: $button-button-close-modal-margin;
    padding: $button-button-close-modal-padding;
  }

  .button-create-advert{
    margin: 5.5vh 0;
  }

  .button-shop{
    @extend %button;

    color: $button-button-shop-color;
    border: $button-button-shop-border;
    margin: $button-button-shop-border-margin;
    padding: $button-button-shop-border-padding;

    &:hover{
      box-shadow: $but-inp-sel-hover-box-shadow;
      color: $button-button-shop-hover-color;
      transition: color $but-inp-sel-hover-transition,
      box-shadow $but-inp-sel-hover-transition ;
    }
  }

%button-category {
  display: flex;
  flex-direction: column;
  height: $button-button-category-height;
  width: $button-button-category-width;
  padding: $button-button-category-padding;
  background: $button-button-category-bg !important;
  border-width: $button-button-category-border-width;
  border-style: $button-button-category-border-style;
  color: $button-button-category-color;
}

$buttonCategoriesConfig:
'red' $button-button-category-red,
'orange' $button-button-category-orange,
'yellow' $button-button-category-yellow,
'green-light' $button-button-category-green-light,
'green' $button-button-category-green,
'blue-light' $button-button-category-blue-light,
'blue' $button-button-category-blue,
'violet' $button-button-category-violet,
'purple' $button-button-category-purple,
'magenta' $button-button-category-magenta;

@each $tuple in $buttonCategoriesConfig {
  .button-category-#{nth($tuple, 1)} {
    @extend %button-category;
    @extend %button;

    border-color: nth($tuple, 2);

    &:hover {
      color: nth($tuple, 2);
      transition: color $but-inp-sel-hover-transition;
    }
  }
}
