<form class="login-form flex-column" (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="form-group d-inline-flex justify-content-between">
    <label for="input-login">{{loginText}}</label>
    <div class="input-container">
      <input
        placeholder=""
        class="form-control"
        id="input-login"
        type="text"
        name="login"
        ngModel
        required
        #login="ngModel">
      <span class="invalid-message" *ngIf="!login.valid && login.touched">{{invalidCredentials}}</span>
    </div>
  </div>

  <div class="form-group d-inline-flex justify-content-between">
    <label for="input-password">{{passwordText}}</label>
    <div class="input-container">
      <input
        placeholder=""
        class="form-control"
        id="input-password"
        type="password"
        name="password"
        ngModel
        required
        #password="ngModel">
      <span class="invalid-message" *ngIf="!password.valid && password.touched">{{invalidCredentials}}</span>
    </div>
  </div>

  <div class="d-inline-flex justify-content-between">
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="open(signUp)">
      <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
      {{goToSignUp}}
    </button>

    <button
      class="btn btn-outline-success"
      type="submit"
      [disabled]="!f.valid">
      <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
      {{logInButton}}
    </button>
  </div>

</form>


<ng-template #signUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{signUpTitle}}</h4>
    <button
      class="button-close-modal"
      (click)="modal.dismiss('Cross click')"
      type="button">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <app-sign-up></app-sign-up>
  </div>
</ng-template>
