<form class="create-advert-form flex-column" (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="form-group">
    <label for="title">{{titleText}}</label>
    <div>
      <input
        class="input-shop form-control"
        id="title"
        type="text"
        name="title"
        ngModel
        required
        #title="ngModel">
      <span class="invalid-message" *ngIf="!title.valid && title.touched">{{invalidTitle}}</span>
    </div>
  </div>

  <div class="form-group">
    <label for="description">{{descriptionText}}</label>
    <div>
      <textarea
        class="form-control textarea-shop"
        rows="3"
        id="description"
        name="description"
        ngModel
        required
        #description="ngModel">
      </textarea>
      <span class="invalid-message" *ngIf="!description.valid && description.touched">{{invalidDescription}}</span>
    </div>
  </div>

  <div class="d-inline-flex justify-content-between">

    <div class="form-group select-form-control-fix">
      <label for="category">{{categoryText}}</label>
      <div>
        <select
          class="custom-select select-shop select-narrow"
          id="category"
          name="category"
          ngModel
          required
          #category="ngModel">
          <option *ngFor="let category of categories" [value]="category.value">{{category.text}}</option>
        </select>
        <span class="invalid-message" *ngIf="!category.valid && category.touched">{{invalidCategory}}</span>
      </div>

    </div>

    <div class="form-group select-form-control-fix">
      <label for="state">{{stateText}}</label>
      <div>
        <select
          class="custom-select select-shop select-narrow"
          id="state"
          name="state"
          ngModel
          required
          #state="ngModel">
          <option *ngFor="let state of states" [value]="state.value">{{state.text}}</option>
        </select>
        <span class="invalid-message" *ngIf="!state.valid && state.touched">{{invalidState}}</span>
      </div>
    </div>

  </div>

  <div class="d-inline-flex justify-content-between">

    <div class="form-group">
      <label for="price">{{priceText}}</label>
      <div>
        <input
          placeholder="zł"
          class="input-shop form-control"
          id="price"
          type="number"
          name="price"
          ngModel
          required
          pattern="{{onlyDigits}}"
          #price="ngModel">
        <span class="invalid-message" *ngIf="!price.valid && price.touched">{{invalidPrice}}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="city">{{addressText}}</label>
      <div>
        <input
          placeholder="Miasto"
          class="input-shop form-control"
          id="city"
          type="text"
          name="city"
          ngModel
          required
          #city="ngModel">
        <span class="invalid-message" *ngIf="!city.valid && city.touched">{{invalidAddress}}</span>
      </div>
    </div>

  </div>

  <div class="form-group">

    <label for="photo">{{pictureText}}</label>
      <div class="custom-file">
        <div>
          <input
            placeholder=""
            class="input-shop form-control"
            id="photo"
            type="text"
            name="photo"
            ngModel
            required
            #photo="ngModel">
          <span class="invalid-message" *ngIf="!photo.valid && photo.touched">{{invalidPhoto}}</span>
        </div>
      </div>

  </div>

  <div class="d-inline-flex">

    <label>{{deliveryOptions}}</label>

    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="personal"
        name="personal"
        ngModel>
      <label class="form-check-label" for="personal">{{personalText}}</label>
    </div>

    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="shipment"
        name="shipment"
        ngModel>
      <label class="form-check-label" for="shipment">{{shipmentText}}</label>
    </div>

  </div>

  <div class="d-inline-flex justify-content-between">

    <div class="form-group">
      <label for="telNumber">{{telNumberText}}</label>
      <div>
        <input
          class="input-shop form-control"
          id="telNumber"
          type="tel"
          name="telNumber"
          ngModel
          required
          pattern="{{phoneNumber}}"
          #telNumber="ngModel">
        <span class="invalid-message" *ngIf="!telNumber.valid && telNumber.touched">{{invalidTelNumber}}</span>
      </div>
    </div>

    <div class="form-group">
      <button
        class="btn btn-outline-success button-create-advert"
        id="button"
        type="submit"
        [disabled]="!f.valid">
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
        {{submit}}
      </button>
    </div>

  </div>

</form>
