<form class="create-advert-form flex-column" (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="form-group">
    <label for="title">{{titleText}}</label>
    <div>
      <input
        class="input-shop form-control"
        id="title"
        type="text"
        name="title"
        [ngModel]="advert.title"
        required
        #title="ngModel">
      <span class="invalid-message" *ngIf="!title.valid && title.touched">{{invalidTitle}}</span>
    </div>
  </div>

  <div class="form-group">
    <label for="description">{{descriptionText}}</label>
    <div>
      <textarea
        class="form-control textarea-shop"
        rows="3"
        id="description"
        name="description"
        [ngModel]="advert.description"
        required
        #description="ngModel">
      </textarea>
      <span class="invalid-message" *ngIf="!description.valid && description.touched">{{invalidDescription}}</span>
    </div>
  </div>

  <div class="d-inline-flex justify-content-between">

    <div class="form-group select-form-control-fix">
      <label for="category">{{categoryText}}</label>
      <div>
        <select
          class="custom-select select-shop select-narrow"
          id="category"
          name="category"
          [ngModel]="advert.category"
          required
          #category="ngModel">
          <option *ngFor="let category of categories" [value]="category.value">{{category.text}}</option>
        </select>
        <span class="invalid-message" *ngIf="!category.valid && category.touched">{{invalidCategory}}</span>
      </div>
    </div>

    <div class="form-group select-form-control-fix">
      <label for="state">{{stateText}}</label>
      <div>
        <select
          class="custom-select select-shop select-narrow"
          id="state"
          name="state"
          [ngModel]="advert.state"
          required
          #state="ngModel">
          <option *ngFor="let state of states" [value]="state.value">{{state.text}}</option>
        </select>
        <span class="invalid-message" *ngIf="!state.valid && state.touched">{{invalidState}}</span>
      </div>
    </div>

  </div>

  <div class="d-inline-flex justify-content-between">

    <div class="form-group">
      <label for="telNumber">{{telNumberText}}</label>
      <div>
        <input
          class="input-shop form-control"
          id="telNumber"
          type="tel"
          name="telNumber"
          [ngModel]="advert.telNumber"
          required
          pattern="{{phoneNumber}}"
          #telNumber="ngModel">
        <span class="invalid-message" *ngIf="!telNumber.valid">{{invalidTelNumber}}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="city">{{cityText}}</label>
      <div>
        <input
          placeholder="Miasto"
          class="input-shop form-control"
          id="city"
          type="text"
          name="city"
          [ngModel]="advert.city"
          required
          #city="ngModel">
        <span class="invalid-message" *ngIf="!city.valid">{{invalidCity}}</span>
      </div>
    </div>

  </div>

  <div class="form-group">

    <label for="picture">{{pictureText}}</label>
    <div class="custom-file">
      <div>
        <input
          placeholder=""
          class="input-shop form-control"
          id="picture"
          type="text"
          name="picture"
          [ngModel]="advert.picture"
          required
          #picture="ngModel">
        <span class="invalid-message" *ngIf="!picture.valid && picture.touched">{{invalidPicture}}</span>
      </div>
    </div>

  </div>

  <div class="d-inline-flex justify-content-between form-group">
    <label>{{deliveryOptions}}</label>

    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="personal"
        name="personal"
        [ngModel]="advert.personal">
      <label class="form-check-label" for="personal">{{personalText}}</label>
    </div>

    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="shipment"
        name="shipment"
        [ngModel]="advert.shipment">
      <label class="form-check-label" for="shipment">{{shipmentText}}</label>
    </div>
  </div>

  <div class="form-group d-flex flex-column">
    <label>{{tagText}}</label>

    <div class="d-inline-flex justify-content-between flex-wrap">
      <div class="input-group create-advert-tag" *ngFor="let tag of advertTagsCounts; let i = index">
        <div class="input-group-prepend">
          <span class="input-group-text">#</span>
        </div>
        <input
          class="input-shop form-control"
          type="text"
          name="tag{{i}}"
          [(ngModel)]="advertTags[i]">
      </div>
    </div>
  </div>

  <div class="d-inline-flex justify-content-between">

    <button
      class="button-shop create-advert-shop-button"
      id="addTag"
      type="button"
      (click)="addNewTag()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      {{addTagText}}
    </button>

    <div class="d-flex form-group flex-column">
      <label for="price">{{priceText}}</label>
      <div class="input-group">
        <input
          placeholder="zł"
          class="input-shop form-control"
          id="price"
          type="number"
          name="price"
          [ngModel]="advert.price"
          required
          pattern="{{onlyDigits}}"
          #price="ngModel">
        <div class="input-group-append">
          <span class="input-group-text">zł</span>
        </div>
      </div>
      <span class="invalid-message" *ngIf="!price.valid && price.touched">{{invalidPrice}}</span>
    </div>


    <button
      class="btn btn-outline-success create-advert-button"
      id="button"
      type="submit"
      [disabled]="!f.valid">
      <fa-icon [icon]="['fas', 'check']"></fa-icon>
      {{submit}}
    </button>

  </div>

</form>
