//section
$padding-section: 0.5vh 0;

//content
$padding-content: 0 7%;

//img
$margin-img: 2vh 0;
$padding-img: 3vh 0.75vw;
$border-radius-img: 0.2rem;

//button
$transition-time-button: 0.2s;

//button-shop
$padding-button-nav: 0.5vh 0.3vw;
$border-radius-shop: 0.2rem;
$margin-button-nav: 0 0.5vw 0 0;

//select
$margin-select-nav: 0 0.5vw;

//input
$margin-input-nav: 0 0.5vw;

//nav
$padding-nav: 3vh 7vw;

//categories
$border-radius-category: 0.2rem;
$border-size-category: 0.3rem;
$width-panel-categories: 100%;
$padding-button-category: 0.5rem;
$width-button-category: 8vw;

//photo
$width-img: 100%;
$width-shop-img: 25%;
$transition-time-img: 0.5s;

//footer
$padding-footer: 3vh 7vw;
$width-hr: 36vw;
$width-footer: 100%;

//colors
// orange #fa983a
// yellow #FFC312 #f6b93b #ffb142
$black: #000;
$white: #fff;
$gray-light: #EEEEEE;
$gray: #E0E0E0;
$gray-dark: #616161;
$red: rgba(234, 32, 39, .9);
$orange: rgba(250, 152, 58, .9);
$yellow: rgba(255, 195, 18, .9);
$green-light: rgba(196, 229, 56, .9);
$green: rgba(163, 203, 56, .9);
$blue-light: rgba(18, 203, 196, .9);
$blue: rgba(18, 137, 167, .9);
$violet: rgba(87, 88, 187, .9);
$purple: rgba(153, 128, 250, .9);
$magenta: rgba(111, 30, 81, .9);
