@import "../../../variables";

.photo-ul{
  background: $photo-photo-ul-bg;
  padding: $photo-photo-ul-padding;
  margin: $photo-photo-ul-margin;
}

li{
  display: block;
  float: left;
  width: $photo-li-width
}

.photo{
  overflow: hidden;
  margin: $photo-photo-margin;
  background: $photo-photo-bg;
}

img {
  opacity: $photo-img-opacity;
  width: $photo-img-width;
  transform: $photo-img-transform ;
  transition: transform $photo-img-transition-time, opacity $photo-img-transition-time;

  &:hover {
    transform: $photo-img-hover-transform;
    opacity: $photo-img-hover-opacity;
  }
}
