<div class="d-flex">
  <ul class="photo-ul">
    <li>
      <figure class="photo">
        <img src="../../../assets/img/computer.jpg" alt="Desktop computer"/>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <img src="../../../assets/img/furniture.jpg" alt="Living room with flowers"/>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <img src="../../../assets/img/clothes.jpg" alt="Colorful clothes"/>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <img src="../../../assets/img/cosmetics.jpg" alt="Decorated cosmetics"/>
      </figure>
    </li>
  </ul>
</div>
